<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggerConfigurationSection" type="Graviton.LoggerConfiguration.LoggerConfigurationSection, Graviton" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <appSettings>
    <add key="ListenPort" value="514" />
  </appSettings>

  <loggerConfigurationSection>
    <LoggerConfigurations>
      <!--<logger loggerName="Example"
              filename="C:\Temp\Example\Example.log"
              maximumFileSize="10MB"
              maxSizeRollBackups="10"
              preserveLogFileNameExtension="true"
              datePattern="yyyy-MM-dd'.log'"
              logLevel="DEBUG"
              />-->
      <logger loggerName="CustomerWeb"
              filename="C:\Temp\CustomerWeb\CustomerWeb.log"
              maximumFileSize="10MB"
              maxSizeRollBackups="10"
              preserveLogFileNameExtension="true"
              datePattern="yyyy-MM-dd'.log'"
              logLevel="DEBUG"
              />
    </LoggerConfigurations>
  </loggerConfigurationSection>
</configuration>