<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggerConfigurationSection" type="Graviton.LoggerConfiguration.LoggerConfigurationSection, Graviton" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <appSettings>
    <add key="ListenPort" value="514" />
  </appSettings>

  <loggerConfigurationSection>
    <LoggerConfigurations>
      <!--<logger loggerName="Example"
              filename="C:\Temp\Example\Example.log"
              maximumFileSize="10MB"
              maxSizeRollBackups="10"
              preserveLogFileNameExtension="true"
              datePattern="yyyy-MM-dd'.log'"
              logLevel="DEBUG"
              />-->
      <logger loggerName="CustomerWeb" filename="D:\Temp\CustomerWeb\CustomerWeb.log" maximumFileSize="10MB" maxSizeRollBackups="10" preserveLogFileNameExtension="true" datePattern="yyyy-MM-dd'.log'" logLevel="DEBUG" />
      <logger loggerName="TradingApi" filename="D:\Temp\TradingApi\TradingApi.log" maximumFileSize="10MB" maxSizeRollBackups="10" preserveLogFileNameExtension="true" datePattern="yyyy-MM-dd'.log'" logLevel="DEBUG" />
      <logger loggerName="TradingApiSystems" filename="D:\Temp\TradingApi\TradingApiSystems.log" maximumFileSize="10MB" maxSizeRollBackups="10" preserveLogFileNameExtension="true" datePattern="yyyy-MM-dd'.log'" logLevel="DEBUG" />
      <logger loggerName="TradingApiExternal" filename="D:\Temp\TradingApi\TradingApiExternal.log" maximumFileSize="10MB" maxSizeRollBackups="10" preserveLogFileNameExtension="true" datePattern="yyyy-MM-dd'.log'" logLevel="DEBUG" />
      <logger loggerName="HAProxy" filename="D:\Temp\HAProxy\TradingApiExternal.log" maximumFileSize="10MB" maxSizeRollBackups="10" preserveLogFileNameExtension="true" datePattern="yyyy-MM-dd'.log'" logLevel="DEBUG" />
    </LoggerConfigurations>
  </loggerConfigurationSection>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>